.elementor-403 .elementor-element.elementor-element-3b1a971{z-index:0;}.elementor-403 .elementor-element.elementor-element-8598c7b > .elementor-widget-container{margin:0% 0% 0% 0%;}.elementor-403 .elementor-element.elementor-element-8598c7b{z-index:0;}.elementor-403 .elementor-element.elementor-element-8822ae7 > .elementor-widget-container{margin:0% 0% 0% 0%;}.elementor-403 .elementor-element.elementor-element-0445aad > .elementor-widget-container{margin:10% 0% 20% 0%;}/* Start custom CSS for bdevs-Features, class: .elementor-element-8598c7b */.panel-wrapper{
    margin-left: 25%;
    margin-top: -10%;
   
}

.subtitle{
    margin-top: -10%;
    margin-bottom: -10%;
}

.col-lg-12{
    margin-top: -4%;
    
}/* End custom CSS */