.elementor-79 .elementor-element.elementor-element-b7b38e3 > .elementor-widget-container{margin:10% 0% 20% 0%;}/* Start custom CSS for bdevs-project, class: .elementor-element-37188d9 */@media (max-width: 991px) {
  

.intro {
    font-size: 110% !important;
}

.subtitle {
    font-size: 120% !important;
}

}/* End custom CSS */